<div class="heroes">
    <div *ngFor="let hero of heroes" class="heroContainer">
        <div class="heroName">{{hero.name}}</div>
        <div class="heroDesc">
            <img *ngIf="!!hero" [src]="hero.thumbnailUrl" [attr.alt]="hero?.thumbnailUrl" class="heroThumbnail" />
            <span> {{hero.description}}</span>
        </div>
    </div>
</div>
<div class="copyright">Data provided by Marvel. © 2021 MARVEL</div>