/* HeroesComponent's private CSS styles */

  .heroes .heroName {
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    position: relative;
    height: 1.8em;
    border-radius: 4px 0 0 4px;
  }
  
  input {
    padding: .5rem;
  }

  .heroThumbnail{
      width: 15em;
      min-width: 15em;
      height: 15em;
      align-self: center;
      vertical-align:right;
  }

  .heroes{
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 22px;
  }
  .heroContainer{
      width: 30%;
      font-size: small;
     text-align: justify;
  }

  .heroDesc{
    display:flex;
  }

  .heroDesc span{
    padding: 5px;
  }

  .copyright{
      margin-top: 25px;
      font-size: xx-small;
  }